.clearfix:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
	opacity: 0;
}

input {
	background: #fafafa;
	border: solid 1px #ccc;
	border-radius: 2px;
	padding: .5em .5em;
}

button {
	cursor: pointer;
	background: rgba(0,0,0,.1);
	border: solid 1px rgba(0,0,0,.1);
	border-radius: 2px;
	margin: 2px;
	padding: .5em 1em;
	text-align: center;

	&:hover {
		background: rgba(0,0,0,.2);
	}
}

.grid-head {

	@extend .clearfix;
}

.component-grid {
	background: #eee;
	height: 100%;
	position: relative;

	@extend .clearfix;

	.grid-controls-wrapper {
		@extend .clearfix;
		position: fixed;
		background: #825dd7;
		padding: .5em;
		margin-bottom: 1em;
		box-shadow: 0 5px 10px rgba(0,0,0,.1);
		top: 0;
		left: 0;
		right: 0;
		z-index: 111;
	}

	.grid-controls-wrapper .controls {
		float: left;
		width: 140px;

		button {
			color: white;
			width: calc(50% - 4px);
		}
	}

	.grid-controls-wrapper .formula-input-wrapper {
		float: left;
		width: calc(100% - 140px);

		input {
			width: calc(100% - 84px);
		}

		button {
			color: white;
			width: 80px;
		}
	}

	.grid-content-wrapper {
		padding-top: 6em;
		height: 100%;
	}
}
